#input {
  margin-inline: auto;
  margin-top: 50px;
  padding-block: 80px;  
  width: 1000px;  
  border: 3px solid black;
}

h1 {
  text-align: center;
}

.content {
  margin-left: 80px;
  margin-top: 50px;
}

.input-box {
  font-size: 1.3rem;
}

.user-details {
  border: 1px red solid;
  margin-top: 40px;
  width: 40%;
}

.user-details .details {
  font-weight: bold;
  margin-block: 30px;
}

.input-box input {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  font-size: 1rem;
  padding-inline: 5px;
}

#personal-detail-submit {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin-top: 40px;
  font-weight: 600;
  cursor: pointer;
}

#personal-detail-submit:hover,
#personal-detail-submit:active {
  background-color: #f7f7f7;
}

#output {
  margin-inline: auto;
  width: 1000px;
}